Button {
            -fx-border-radius: 0;
                   -fx-text-fill: #ffffff;
                   -fx-background-color: #292929;
                   -fx-font-size: 230%;
                   -fx-font-family: Arial, sans-serif;
               }

               Button:hover {
                   -fx-background-color: #404040;
               }

               Button:pressed {
                   -fx-background-color: #292929;
                   -fx-effect: dropshadow(three-pass-box, #c5b9b9, 2, 3, 0, 0);
               }
               dot.setStyle {
               -fx-font-size: 60px;
               }